.bar-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: black; 
    color: white;
    margin: auto;
    padding-right: 10%;
    padding-left: 10%;
    letter-spacing: 1px;
}
@media screen and (max-width: 1200px) {
    .bar-info {
        display:none;
    }
}