.footer-first-main {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.footer-social-icons ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.footer-social-icons li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-social-icons .icon {
    font-size: 18px;
    color: #000000;
    background-color: #f0f0f0;
    padding:15px;
    border: 1px solid #b4aeae;
    border-radius:20px;
    margin-bottom: 10px;
}

.footer-social-icons a {
    text-decoration: none;
    margin-bottom:50px;
    margin-top:20px;
}

.footer-social-icons .icon-name {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    color: #000000;
    letter-spacing: 1px;
    font-size: 12px;
}

.footer-line-cut{
    content: "";
    height: 1px;
    display: inline-block; 
    background-color: #d9d9d9;
    width: 100%;
    vertical-align: middle; 
    margin: 0 10px; 
}

.footer-of-footer{
    font-family: "Raleway", sans-serif;
    width: 100%;
    color: #000;
    font-size:13px;
    margin:auto;
    padding: 50px 0px;
}

/* Responsive styles */
@media (max-width: 770px) {
    .footer-social-icons .icon {
        display: none;
    }
    .footer-social-icons ul {
        gap:15px;
    }
}
