.complete-page-main {
    margin-bottom: 3%;
    padding: 50px 10%;
}

.rs-big-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
    text-align: center; 
}

.first-sen {
    color: #FD9055;
    margin-bottom: 2rem;
    font-family: 'Raleway';
    font-weight: 600;
}

.coor-word {
    color: #252728;
    font-family: math;
    font-size: 40px;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap; 
}

.contact-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 10px;
    gap: 20px;
    width: auto;
}

.rs-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 80px;
}

.item-1 {
    margin-right: 70px;
}

.item-2 {
    margin-right: 110px;
}

.contact-item-sp-1 {
    font-family: math;
    font-weight: bold;
    font-size: 17px;
    line-height: 28px;
    color: #000000;
}

.localisation {
    color: #6b6363;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin: 25px 0px;
}

.contact-item-sp-2 {
    color: #6b6363;
}

.first-part-form-rs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 100%;
    margin-bottom: 50px;
}

.first-part-form-rs input {
    padding: 15px 25px;
    width: 35%;
    border: 2px solid #bcbcbc;
}

.first-part-two-rs {
    width: 100%;
    margin-bottom: 50px;
}

.first-part-tree-rs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.first-part-tree-rs button {
    background-color: #bcbcbc;
    font-family: math;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 15px 80px;
    border: none;
}

.first-part-tree-rs button:hover {
    background-color: #2b2c2e;
    font-family: math;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 15px 80px;
    border: none;
}

.first-part-two-rs textarea {
    padding: 15px 25px;
    width: 79%;
    height: 150px;
    resize: vertical;
    border: 2px solid #bcbcbc;
}

@media (max-width: 995px) {
    .item-1 {
        margin-right: 40px;
    }
    .item-2 {
        margin-right: 80px;
    }
}

@media (max-width: 741px) {
    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-top: 10px;
    }

    .item-1 {
        margin-right: 0px;
        margin-bottom: 50px;
    }

    .item-2 {
        margin-right: 0px;
        margin-bottom: 50px;
    }

    .item-3 {
        margin-right: 0px;
        margin-bottom: 50px;
    }

    .rs-form {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
    }

    .first-part-form-rs {
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        margin-bottom: 50px;
        gap: 0px;
    }

    #input1 {
        margin-bottom: 50px; 
    }

    .first-part-form-rs input {
        padding: 15px 25px;
        width: 100%;
        max-width: 100%;
        border: 2px solid #bcbcbc;
        box-sizing: border-box;
    }

    .first-part-two-rs textarea {
        padding: 15px 25px;
        width: 100%;
        max-width: 100%;
        height: 150px;
        resize: vertical;
        border: 2px solid #bcbcbc;
        box-sizing: border-box;
    }

    .first-part-tree-rs {
        display: flex;
        align-items: start;
        justify-content: start;
        width: 100%;
    }
}
